footer {
  max-width: 100%;
  background-color: #415d43;
  font-size: 1.25rem;
  margin-top: 3.125rem;
  grid-area: footer;
  .footer {
    list-style: none;
    .redSocial {
      a {
        @include redes;
      }
      .twitter {
        &:hover {
          color: map-get($redes, twitter);
        }
      }
      .facebook {
        &:hover {
          color: map-get($redes, facebook);
        }
      }
      .instagram {
        &:hover {
          background: -webkit-linear-gradient(
            top right,
            #7f37af,
            #f70105,
            #f8d600
          );
          /**** la siguiente linea de codigo es la que genera un error, pero sin ella no funciona el degrade en el hover****/
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    h3 {
      color: white;
      font-size: 2.1875rem;
    }
  }
}
