$color-hover: #2dc653;
$text-size: 1.5625rem;
$tittle-size: 3.1875rem;
$radio-top: 20px;
$radio-bottom: 20px;
@mixin pad-mar($padding: 1.25rem) {
  padding-top: $padding;
  margin: auto;
}
@mixin redes {
  display: inline-block;
  padding: 0.9375rem 1.25rem;
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
}
$redes: (
  facebook: #3b5998,
  twitter: #1dabdd,
  instagram: #bc2a8d,
);

%subtitulo {
  font-size: 4rem;
  text-align: center;
  color: black;
  margin-bottom: 3.125rem;
}

@mixin radio-top {
  border-top-left-radius: $radio-top;
  border-top-right-radius: $radio-top;
}
@mixin radio-bottom {
  border-bottom-left-radius: $radio-bottom;
  border-bottom-right-radius: $radio-bottom;
  border: transparent;
}
